{{ define "content" }}

  {{ if eq .Params.hide_header true }}
    {{ partial "header_alt.html" . }}
  {{ else }}
    {{ $include_dict := dict "Site" $.Site "page" $ "image" $.Params.content_img_path }}
    {{ partial "header.html" $include_dict }}
  {{ end }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">
      <article class="post post-full">
        <header class="post-header">
          <h1 class="post-title">{{ .Params.title }}</h1>
          <div class="post-meta">
            Published on <time class="published"
              datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">{{ .Date | dateFormat "January 02, 2006" }}</time>
          </div>
        </header><!-- .post-header -->
        {{ if .Params.subtitle }}
        <div class="post-subtitle">
          {{ $.Params.subtitle | safeHTML }}
        </div><!-- .post-subtitle -->
        {{ end }}
        <div class="post-content">
        <div class="main-photo-content">
          {{ .Content | safeHTML }}
          </div>
          <div>
          
            {{ if (not (isset .Params "photogrammetry_page")) | or (eq .Params.photogrammetry_page "") }}
            <section class="photo">
            
            <a href='/{{ trim .Params.photogrammetry_page ".md" }} '>Click here to see Photogrammetry</a>
            </section>
            {{end}}
            <section class="survey">
            TODO - Survey image and links
            </section>
          <div>
        </div><!-- .post-content -->
      </article><!-- .post -->

    </main><!-- .site-main -->

    {{ partial "footer.html" . }}

  </div><!-- .site-content -->

{{ end }}