{{ define "content" }}

  {{ if eq .Params.hide_header true }}
    {{ partial "header_alt.html" . }}
  {{ else }}
    {{ $include_dict := dict "Site" $.Site "page" $ "image" $.Params.content_img_path }}
    {{ partial "header.html" $include_dict }}
  {{ end }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <article class="post post-full">
        <header class="post-header">
          <h1 class="post-title">{{ .Params.photogrammetry_title }}</h1>

        </header><!-- .post-header -->
        <div class="post-content">
        <div class="main-post-content">
          {{ .Content | safeHTML }}
          </div>
          <div>
          {{ partial "gallery.html" . }}
          {{ range .Params.photogrammetry_page_items }}
            
             <h3>{{.photogrammetry_item_title}}</h3>
             <p>{{.photogrammetry_description}}</p>
             <img src="{{.photogrammetry_description}}" alt="Girl in a jacket" width="500" height="600">
        <babylon extends="minimal">
            <model url="{{.photogrammetry_model}}">
               
            </model>
            <camera>
                <behaviors>
                    <auto-rotate type="0"></auto-rotate>
                </behaviors>
            </camera>
        </babylon>

        {{ end }}

       
          <div>
        </div><!-- .post-content -->
      </article><!-- .post -->

    </main><!-- .site-main -->

    {{ partial "footer.html" . }}
     <script src="https://preview.babylonjs.com/viewer/babylon.viewer.max.js"></script>
  </div><!-- .site-content -->

{{ end }}